
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.nav-item {
  text-decoration: none;
  color: #333;
  padding: 10px;
  user-select: none;
}

.nav-item.active {
  border-bottom: 3px solid lightblue;
}

.nav-item:hover {
  background-color: #eee;
}

.nav-item:not(.active):hover {
  border-bottom: 3px solid #ccc;
  padding-bottom: 7px;
}

